.search-area {
  padding-top: 2rem;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

h1{
  margin-top: 2rem;
}

.alert {
  margin-top: 1rem;
}

.close {
  margin-left: 1rem;
}

.btn-a {
  margin-left: 1rem;
  margin-top: 1rem;
}
.label-a {
  margin-left: 1rem;
}

.user-name{
  margin-top: 3.5%;
  padding-right: 1rem;
}